/*Header starts here*/

header { 
text-align: center;
background-color: black;
}

h1 {
margin-top: 45px;
font-size: 60px;
display: inline-block;
padding: 12.5px;
font-family: 'Times New Roman', Times, serif;
background-color: rgb(18, 230, 209);
color: #c45215;
border: 3.5px solid;   
}

.banner ul li {
display: inline-block;
padding: 10px; 
}

.banner ul li a { 
color:#c45215;
text-underline-offset: 14px;
font-size: 35px;
}
    
#faces {
margin-top: 3.5%;
border-radius: 50%;
height: 300px;
width: 300px;
margin-left: auto;
margin-right: auto;
object-fit: cover;
}

/*Header ends here*/

/*Here stats the body and main content of the webpage*/

.aboutme, .work, .contact2 {
margin-top: 40px;
margin-bottom: 25px;
display: inline-block;
font-size: 30px;
color: #c45215;
border: 3.5px solid;
background-color: aqua;
}

#first {
margin-bottom: 25px;
margin-top: 25px;
width: 45%;
}

#second, #third{
width:70%;
}

.flex-container {
display: flex;
flex-direction: row;
font-size: 30px;
text-align: center;
}

.flex-item-center {
padding: 10px;
flex: 100%;
}

.flex-item-left {
padding: 10px;
flex: 50%;
}

.flex-item-right {
padding: 10px;
flex: 50%;
}

.maincontainer{
  position: relative;
  text-align: center;
  color: white;
}

.subcontainer{
  position: relative;
  text-align: center;
  color: white;
}

.bottomLeftText{
position: absolute;
bottom: 7%;
font-size:20px;
left:28%;
color: #c45215;
border: 3.5px solid;
background-color: aqua;
}

.bottomLeftTextforSub{
position: absolute;
bottom: 5%;
font-size:20px;
left:17%;  
color: #c45215;
border: 3.5px solid;
background-color: aqua;
}

img:hover {
transform: scale(1.05);
transition: transform 2.0s ease-out;
}

.text-block {
position: absolute;
bottom: 20px;
right: 20px;
background-color: black;
color: white;
padding-left: 20px;
padding-right: 20px;
}

#para {
align-items: center;
margin: 6px;
padding: 3px;
color: #c45215;
}

main {
background-color: black;
}

#thirdp, #secondp {
width: 100%;
height: auto;
margin-left: 420px;
text-align: center;
max-width: max-content;
height: 250px;
padding: 10px;
}

.aboutme {
margin-bottom: 16px;
}

/*Here starts the contact links*/

.contact {
text-align: center;
}
  
.cinfo {     
color: #c45215;
font-size: 25px;
}
  
.cinfo a {
margin-bottom: 40px;
margin-top: 50px;
margin-left: 200px;
display: inline-block;
color: #c45215;   
}

/*Footer starts here*/

footer {
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
margin: 40px;
}

/*Footer ends here*/

/*Media Query start here*/

@media screen and (max-width: 1499px) {
        
#thirdp, #secondp {
text-align: center;
margin-left: 270px;
}

.cinfo a {
margin-left: 11%;
}
}

@media screen and (max-width: 850px) {

.cinfo a {
margin-left: 11%;
}
        
.work {
margin-left: 14%;
}
        
.aboutme {
margin-left: 25%;
}

.contact2 {
margin-left: 19%;
}
        
.cinfo {
margin-left: 9.85%;
}
        
#thirdp, #secondp {
margin: auto;;
width: 40%;
}
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 280px) {

.cinfo a {
margin-left: auto;
}
    
.work {
margin-left: 14%;
}
    
.aboutme {
margin-left: 25%;
}
    
.contact2 {
margin-left: 19%;
}
    
.cinfo {
margin-left: 9.85%;
}
    
#thirdp, #secondp {    
margin: auto;;
width: 40%;
}
}

/*Media Query ends here*/


/* 

how to deploy to live website 
write a proper read me with a screenshot 
with a title and author and controbutors and a 
live likn to website and github 
*/